@import url("./Group_variables.css");
@import url("./smoothie_offers.css");

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
};

/* Not used in my personal code, but for some reason is required for the rest to work */
.main {
    background-color: black;
    height: 100vh;
    width: 100vw;
    border: solid black; 
}
/* End of "required" code. */

.master {
    /* background: linear-gradient(-10deg, #110520 18%, #330771 100%); */

    height: 100vh;
    width: 100vw;
}

h1 {
    color: var(--h1_text_color);
    
}

h2 {
    color: var(--h1_text_color);
    
}

p {
    color: var(--p_text_color)
}

.header_bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: var(--page_width);
    padding: 10px;
    margin: auto;
    height: 14%;
    /* background-image: linear-gradient(to top, #400a5f, #2c0642); */
    /* border: solid white; */
    box-shadow: var(--shadow_main);
}

.outerFlex {
    width: auto;
}

.toggleFlex {
    display: flex;
    align-items: center;
    padding-right: 15px;
    justify-content: space-between;
}

.logo_img {
    height: 115%;
    /* margin-top: -20px; */
    float: left;
}


.login {
    /* background-image: linear-gradient(to bottom, #3c1372, #591ea5); */
    color: var(--p_text_color);
    float: right;
    padding: 5px;
    text-decoration: none;
    align-self: flex-end;
    height: 20%;
    opacity: 0.9;
    text-align: center;
    min-width: 250px;
    height: max-content;
    box-shadow: var(--shadow_sub);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logout button:hover{
    background-image: linear-gradient(to bottom, #6723c0, #1e75c7);
    cursor: pointer;
    border-bottom: var(--borders_sub);
    animation: hoverOver 4s ease infinite;
}

#logout button {
    color: white;
    border: none;
    font-size: 1em;
    font-weight: bold;
    min-width: 100px;
    display: inline-block;
    padding: 8px;
    background-image: linear-gradient(to bottom, #014d1e, #006627);
    border-bottom: var(--borders_sub);
}

.login button {
    color: white;
    min-width: 100px;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
    background-image: linear-gradient(to bottom, #014d1e, #006627);
    border: none;
    border-bottom: var(--borders_sub);
}

.login p {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.login button:hover{
    background-image: linear-gradient(to bottom, #6723c0, #1e75c7);
    cursor: pointer;
    border-bottom: var(--borders_sub);
    animation: hoverOver 4s ease infinite;
}

.selectionCont {
    display: flex;
    justify-content: space-evenly;
    max-width: var(--page_width);
    padding: 10px;
    margin: auto;
    height: 62%;
    /* background-image: linear-gradient(to bottom left, #3d033a, #3d033a); */
    box-shadow: var(--shadow_main);
}

.splashPage {
    display: flex;
    justify-content: space-evenly;
    width: var(--page_width);
    padding: 10px;
    margin: auto;
    height: 62%;
    /* background-image: linear-gradient(to bottom left, #3d033a, #3d033a); */
    box-shadow: var(--shadow_main);
    /* height: 550.5px; */
}

.animationFront {
    height: 90%;
    width: 98%;
    padding: 10px;
    overflow: auto;
    border: var(--borders_sub);
    animation: fruits 30s infinite;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

.innerCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (orientation: portrait) {
    .innerCont {
        width: 56%;
    }
}

.selectionBoxes {
    height: 90%;
    width: 98%;
    padding: 10px;
    overflow: auto;
    border: var(--borders_sub);
}



.fruit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(214, 186, 207,0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid black 1px;
}
@media (orientation: portrait) {
    .fruit {
        padding-left: 0px;
        padding-right: 0px;
        width: fit-content;
    }
}

.fruit:hover {
    background-color: red;
    cursor: default;

    background: linear-gradient(270deg, #5c3069, #784a89);
    background-size: 400% 400%;

    animation: hoverOver 4s ease infinite;
}

.fruit_makeup {
    display: inline-block;
    vertical-align: middle;
}

.fruit h1 {
    width: 220px;
    text-align: center;
    padding-right: 20px;
    /* background-color: red; */
}
@media (orientation: portrait) {
    .fruit h1 {
        width: 150px;
        font-size: 23px;
    }
}


.fruit_price {
    align-self: center;
    min-width: 230px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    /* background-color: #3e0449; */
    font-size: 1em;
    margin-left: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 3px black;
}
@media (orientation: portrait) {
    .fruit_price {
        min-width: 120px;
    }
}

.hulk {
    color: green;
    font-weight: bolder;
    font-size: 2em;
}

.fruit_price:hover .hulk {
    animation: grow 0.5s infinite;
}

.fruit_price:hover {
    background-image: linear-gradient(to bottom right, #57208b, #2560a3);
}

.fruit_price:active {
    box-shadow: none;
    transform: translateY(2px);
}

.container_headers {
    font-weight: bold;
    padding: 10px;
    width: 98%;
    text-align: center;
    background-color: rgb(51, 9, 49);
}

#outerSelected {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:1.5em;
    overflow-y: scroll;
    padding-left: 18px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    overflow: hidden;
}

.selectedCSS {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:1.5em;
    overflow-y: scroll;
    padding-left: 18px;
    height: 95%;
    margin-bottom: 8px;
    border-radius: 10px;
}

.selectedCSS p {
    padding: 10px 0px 10px 0px;
}

.selectedCSS h1 {
    animation: fontColor 20s infinite;
    font-size: 2em;
}
.desktop, .mobile {
    display: none;
}
@media (orientation: landscape) {
    .fruit_list_image {
        display: flex;
        /* flex-grow: 1; */
        padding-left: 10px;
        padding-right: 10px;
    }
    .fruit_list_image img { 
        object-fit:contain;
        width: 50px;
        height: 50px;
    }
    .desktop {
        display: inline-block;
        width: 0;
    }
}
@media (orientation: portrait) {
    .mobile {
        display: inline-block;
    }
}

/* @media (orientation: portrait) {
    .fruit_list_image {
        padding-left: 0px;
        padding-right: 0px;
    }
    .fruit_list_image img {
        width: 25px;
        height: 25px;
    }
} */

#addToBasket {
    width: 20%;
    color: white;
    font-size: 1em;
    align-self: center;
    border: rgba(155, 134, 134, 0);
    border-radius: 50px 50px 0px 0px;
    background-image: linear-gradient(to bottom left, #3d033a, #3d033a);
}

#addToBasket:hover {
    color: greenyellow;
    box-shadow: 0px 0px 3px 3px greenyellow;
    cursor: pointer;
}

.delete {
    font-size: 1em;
    background: none;
    border: none;
    color: white;
}

.delete:hover {
    animation: grow 0.5s infinite;
    color: rgb(122, 122, 122);
    cursor: pointer;
}

.delete:active {
    color: red;
    transform: translateY(2px);
}



@keyframes hoverOver {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes fruits {
    0%, 100%{background-image: url(../images/back1.jpg)}
    12.5%{background-image: url(../images/back2.jpg)}
    25%{background-image: url(../images/back3.jpg)}
    37.5%{background-image: url(../images/back4.jpg)}
    50%{background-image: url(../images/back5.jpg)}
    62.5%{background-image: url(../images/back6.jpg)}
    75%{background-image: url(../images/back7.jpg)}
    87.5%{background-image: url(../images/back8.jpg)}
}

@keyframes fontColor {
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}   
}
