@import url("./Group_userModal.css");
@import url("./Group_variables.css");
@import url("./smoothie_offers.css");

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
};

/* Not used in my personal code, but for some reason is required for the rest to work */
.main {
    background-color: black;
    height: 100vh;
    width: 100vw;
    border: solid black; 
}
/* End of "required" code. */

.master {
    background: linear-gradient(-10deg, #110520 18%, rgba(51,7,113,1) 100%);

    height: 100vh;
    width: 100vw;
}

h1 {
    color: var(--h1_text_color);
    
}

h2 {
    color: var(--h1_text_color);
    
}

p {
    color: var(--p_text_color)
}

.header_bar {
    display: flex;
    justify-content: space-between;
    width: var(--page_width);
    padding: 10px;
    margin: auto;
    height: 100px;
    background-image: linear-gradient(to top, #400a5f, #2c0642);

    box-shadow: var(--shadow_main);


}

.logo_img {
    height: 140px;
    margin-top: -20px;
    float: left;
}


.login {
    background-image: linear-gradient(to bottom, #3c1372, #591ea5);
    color: var(--p_text_color);
    float: right;
    padding: 5px;
    text-decoration: none;
    align-self: flex-end;
    height: 20%;
    opacity: 0.9;
    text-align: center;
    min-width: 250px;
    height: max-content;
    box-shadow: var(--shadow_sub)
}

.login a {
    color: white;
    min-width: 100px;
    display: inline-block;
    padding: 8px;
    background-image: linear-gradient(to bottom, #014d1e, #006627);
    border-bottom: var(--borders_sub);

}

.login p {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.login a:hover{
    background-image: linear-gradient(to bottom, #6723c0, #4d1b8f);
    cursor: pointer;
    border-bottom: var(--borders_sub);
    animation: hoverOver 4s ease infinite;
}

.selectionCont {
    display: flex;
    justify-content: space-evenly;
    width: var(--page_width);
    padding: 10px;
    margin: auto;
    background-image: linear-gradient(to bottom left, #3d033a, #3d033a);
    box-shadow: var(--shadow_main);
}

.innerCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectionBoxes {
    height: 50vh;
    width: 95%;
    padding: 10px;
    overflow: auto;
    border: var(--borders_sub);
}



.fruit {
    display: flex;
    justify-content: space-between;
    background-color: rgba(214, 186, 207,0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid black 1px;
}

.fruit:hover {
    background-color: red;
    cursor: pointer;

    background: linear-gradient(270deg, #5c3069, #784a89);
    background-size: 400% 400%;

    animation: hoverOver 4s ease infinite;
}

.fruit_makeup {
    display: inline-block;
    vertical-align: middle;

}

.fruit h1 {
    width: 220px;
    text-align: right;
    padding-right: 20px;
}


.fruit_price {
    align-self: center;
    min-width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #3e0449;
    font-size: 14pt;
    margin-left: 50px;
}

.container_headers {
    font-weight: bold;
    padding: 10px;
    width: 95%;
    text-align: center;
    background-color: rgb(51, 9, 49);
}

@keyframes hoverOver {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}