@import url("./Group_userModal.css");
@import url("./Group_variables.css");

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
};

/* Not used in my personal code, but for some reason is required for the rest to work */
.main {
    background-color: black;
    height: 100vh;
    width: 100vw;
    border: solid black; 
}
/* End of "required" code. */

.master {
    background-image: linear-gradient(to bottom right, #3a343a, #241f24);
    height: 100vh;
    width: 100vw;
}

h1 {
    color: red;
    
}

.header_bar {
    width: 90%;
    padding: 10px;
    margin: auto;
    height: 100px;
    border: var(--borders_main);
    background-image: linear-gradient(to top, #400a5f, #2c0642);
}

.logo_img {
    height: 140px;
    margin-top: -20px;
    float: left;
}


.login {
    background-image: linear-gradient(to bottom, #3c1372, #591ea5);
    float: right;
    padding: 10px;
    text-decoration: none;
    opacity: 0.9;
    top: 70px;
    right: 100px;
    position: absolute;
    width: 200px;

    text-align: center;

}

.login button {
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 5em;

    
}

.login button:hover{
    background-image: linear-gradient(to bottom, #4d1b8f, #6723c0);
}