.modalContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position:fixed;
    text-align: center;
    height: 40%;
    min-width: 20%;
    top:50%;
    left:50%;
    color: white;
    background: #4cc9f0;
    background: linear-gradient(180deg, #4cc9f0 50%, #f72585 100%);
    opacity: 0.99;
    transform: translate(-50%,-50%);
    padding: 1em;
    border-style: groove;
    border-color: rgb(243, 30, 126, 0.25);
    border-radius: 1em;
    box-shadow: 0 0 8px 0 rgba(79, 181, 176, 0.592), 0 6px 20px 0 rgba(100, 100, 100, 0.19);
}

.modalContent:focus{
    outline: none;
}

.modalZ {
    position: fixed;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.632);
    z-index: 2;
}

.formStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end;
    height: 70%;
}

.alignSelf {
    justify-self: flex-start;
}

#loginModal input{
    border-radius: 0.5rem;
    border: solid 2px rgb(174, 174, 174);
    background-color: #ff00f7b4;
    height: 1.5rem;
    text-align: center;
    width: 70%;
    align-self: center;
    color:#ffffff;
    font-weight: bolder;
}

#loginModal input:focus {
    outline: none;
    box-shadow: inset 0px 0px 1px 1px white;
}

.userInput {
    border-radius: 0.5rem;
    border: solid 2px rgb(174, 174, 174);
    background-color: #ff00f7b4;
    text-align: center;
    width: 10vw;
    align-self: center;
    color:#ffffff;
    font-weight: bolder;
    border-style: groove;
}

.formStyle button {
    width: 40%;
    align-self: center;
    border-radius: 5px;
    background-color: #4ccaf0dd;
    border-color: white;
    color: white;
}

.formStyle button:hover {
    cursor: pointer;
    border-color: greenyellow;
    color: greenyellow;
    background-color: #4ccaf063;
}



::placeholder {
    color: white;
}

.outerUserList {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    width:100%;
}

.userList {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:0.5em;
    overflow-y: scroll;
    padding-left: 18px;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}
.userList h1 {
    color: #65e8e8;
}

.userButt {
    color: #ffffff;
    background: #ff01eeb3;
    border: solid 1px #ffffff;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    outline: none;
}
.userButt:hover {
    cursor: pointer;
    border-color: greenyellow;
    color: greenyellow;
    background-color: #ff01ee71;
    border-radius: 5px;
}

.showUser {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: space-between;
    width: 95%;
    height: 50%;
}
.showUser button {
    color: white;
    background: none;
    border: solid 1px rgba(255, 0, 0, 0);
    text-align: center;
    align-self: center;
    outline: none;
}
.showUser button:hover {
    cursor: pointer;
    border-color: greenyellow;
    color: greenyellow;
    background-color: #4ccaf063;
    border-radius: 5px;
}

.rowMe {
    display: flex;
    justify-content: space-between;
}

.rowMe label {
    text-align: start;
}

.hideUser {
    display: none;
}

.showSearch {
    display: flex;
}

.hideSearch {
    display: none;
}

#userFlex {
    display: flex;
    justify-content: space-between;
    background: #f72585;
    background: linear-gradient(0deg,#f72585 50%, #4cc9f0 100%);
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    box-shadow: inset 0px 0px 3px 2px rgba(79, 181, 176, 0.592);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(54, 121, 118, 0.592);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
